
body {

  background-color: #caf0f8;
  margin: 0px;
  padding: 0px;
  

}
body::-webkit-scrollbar {
  display: none;
}


.header {
 
  position: sticky;
  
  top: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: #90e0ef;
  z-index: 7;

}

.b {
  font-size: large;
  font-weight: 700;
  margin-left: 10px;
  margin-right: 20px;
}

.name p {
  display: inline-block;

}

img {
  height: 300px;
  width: 300px;
  border-radius: 50%;

  margin-left: 250px;
  padding: 10px;
  font-size: large;


}

.info2 {
  margin-top: 50px;
  margin-left: 10px;

}

.info2 p {
  width: 500px;
}

.info i {
  font-weight: 700;
  text-align: center;
  margin: 20px;
}

.alpha {
  margin-top: 50px;
  display: flex;

}

.g input {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #90e0ef;
}

.o input {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color:#00b4d8;
}

.bl input {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #0077b6;
}

.hl {
  display: flex;
  justify-content: space-between;
  margin-left: 550px;
  width: 400px;
}
hr{
  margin-top: 16.44736842vh;
  
}
.social_media{
  text-align: center;

}
#lo i{
  transform: scale(1.5);
  color: #03045e;
  margin-left: 10px;
  text-decoration: none;
}
#lo i:hover{
  transform: scale(1.7);


}
.nav{
  position: fixed;
  top: 0px;
  right: 0px;
  margin-right:-300px;
  width: 300px;
  height: 100%;
  background-color:  #90e0ef;
  transition: 0.5s linear 0.2s;
  z-index: 7;
}

.nal{
  margin-right:0px;
}
.nal2{
  margin-right:-300px;
}
ul{
  margin: 0px;
  padding: 0px;
}
li{
  height: 40px;

  
  color:white;
  
  padding: 5px;
  margin: 5px;
  padding-top:20px ;
  text-align: center;
  
  
  
  
  
  
}
li:hover{
  box-shadow: 4px 4px 10px white;
}

ul{
  list-style-type: none;
}
li a{
  text-decoration: none;
  color: white;
}
.nav p{
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}
.section2{
  height: 300vh;
}
.section1{
  height: 100vh;
  position: relative;
  display: flex;
  background-color: #282C35;
  overflow: hidden;
  
}
.heading{
  
  align-self: center;
  margin: calc(50% - 200px);
  z-index: 5;
  
}

.heading .lk{
  width: 400px;
  text-align: center;
  font-size: 30px;
  color: white;
  
}
.btn{
  width: 300px;
  height: 60px;
  margin-left: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: 3px groove white;
  
  
  
}
.btn p{
  color: white;
  opacity: 1;
  font-weight: 700;
  font-size: medium;
  display: inline-block;
}
.btn:hover{
  background-color: #6ee8f2;
}
.rotate2{
  transition:0.5s;
  transform: rotate(90deg);
}
.rotate{
  display: inline-block;
  color: white;
}
.star {
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: linear-gradient(90deg, #fff, transparent);
  animation: rise 6s linear infinite;
  opacity: 0;  
  z-index: 1;
}


@keyframes rise {
  0% {
      transform: rotate(-315deg) translateX(0);
      opacity: 0;  
  }
  10% {
      opacity: 1;  
  }
  50% {
      transform: rotate(-315deg) translateX(550px);
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.6);
  }
  51% {
      transform: rotate(-315deg) translateX(555px);
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
  }
  100% {
      transform: rotate(-315deg) translateX(100vh);
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
  }
}
.skills_section1{
  position:  absolute;
  top: 200vh;
  width: 50%;
  height: 100vh;
  z-index: -1;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  
  
  
  background-color: aquamarine;
}
.skills_heading{
  position:  absolute;
  width: 30%;
  top: 200vh;
  margin-top: 60px;
  margin-left:35%;
  text-align: center;
  font-size: large;
  font-family: Merriweather;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}
.skills_heading:hover{
  background-color: white;
  
}
header h1:hover{
  border-radius: 15px;
  background-color: white;
}
.skills_section2{
  position:  absolute;
  top: 200vh;
  width: 50%;
  height: 100vh;
  z-index: -1;
  margin-left: 50%;
  background-color: #caf0f8;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  

}
.frontend{
  margin-top: 190px;
  
}
.frontend h3{
  font-family: merriweather;
  width: 200px;
  text-align: center;
  height: auto;
  background-color: rgba(255, 255, 255, 0.3); 
  border-radius: 10px;
}
.frontend ul li{
  text-align: center;
  font-size: large;
  color: black;
  width: 200px;
  list-style-type: circle;
}
.backend{
  margin-top: 190px;
  
}
.backend h3{
  font-family: merriweather;
  width: 200px;
  text-align: center;
  height: auto;
  background-color: rgba(255, 255, 255, 0.3); 
  border-radius: 10px;
}
.backend ul li{
  text-align: center;
  list-style-type: circle;
  width: 200px;
  font-size: large;
  color: black;
  height: 20px;
}

@media (max-width: 1200px) {
  .info2 p {
    width: auto;
  }
  .hl {
    margin-left: 0;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  img {
    margin-left: auto;
    margin-right: auto;
  }
  .alpha {
    flex-direction: column;
    align-items: center;
  }
  .frontend,
  .backend {
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .btn {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .heading {
    margin: 0;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .hl {
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-left: 0;
  }
  .skills_heading {
    width: auto;
    margin-left: 0;
    padding: 0 10px;
  }
  .skills_section1,
  .skills_section2 {
    width: 100%;
    margin-left: 0;
  }
}
.section_projects{
  position: absolute;
  top: 300vh;
  height: 100vh;
  width: 100%;
  background-color:aquamarine;
  z-index: 6;
}

header{
  font-family: Merriweather;
  margin-top: 60px;
  text-align: center;
  font-size: large;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  width: 30%;

}

#pro:hover{
  cursor: pointer;

}
#ski:hover{
  cursor: pointer;

}
#Resume:hover{
  cursor: pointer;

}
#skills:hover{
  cursor: pointer;

}
#projects:hover{
  cursor: pointer;

}
.btn:hover{
  cursor: pointer;
}

.box_projects{
  height: 80%;
  width: 70%;
  background-color: #FAF9F6;
  margin-left: 15%;
  display: flex;
  
  justify-content: space-evenly;


}


.car img{
  border-radius: 15px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  
}
.car{
  
  margin-top: 15%;
  width: 18rem;
  height: 18rem;
  overflow: hidden;
  

  
  

}


.card-body,.card-body1{
  display: flex;
  text-align: center;
  height: 18rem;
  width: 18rem;
  border-radius: 15px;
  background-color: aqua;
  flex-direction: column;
  
}

.hovered{
  transform: translate(0,-101%);
}
@keyframes slidein {
  0% {
    transform: translate(0,0); 
  }
  100% {
    transform: translate(0,-100%); 
  }
}


#close:hover{
  cursor: pointer;
}
.tech{
  color: red;
}